<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Bulletin-Board</title>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
    </head>
    
    <body>
        <div class="container">
            <div class="page-header page-heading">
                <h1 class="pull-left">Bulletin-Board</h1>
                <ol class="breadcrumb pull-right where-am-i">
                    <li><a href="">Bulletin-Board</a></li>
                    <li class="active">Subforums</li>
                </ol>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="cell-stat"></th>
                        <th><h3>Subforum</h3></th>
                        <th class="cell-stat text-center hidden-xs hidden-sm">Posts</th>
                        <th class="cell-stat-2x hidden-xs hidden-sm">Last Post</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="subforum: ${subforums}">
                        <td class="text-center"><i class="fa fa-question fa-2x text-primary"></i></td>
                        <td>
                            <h4><a href="subforum.html" th:href="@{~/subforum(id=${subforum.forumId})}">
                                    <span th:text="${subforum.name}"></span></a></h4>
                        </td>
                        <td class="text-center hidden-xs hidden-sm"><span th:text="${subforum.postcount}"></span></td>
                        <td class="hidden-xs hidden-sm">14-23-9999</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>
