<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title th:text="${subforum}"></title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1 th:text="${subforum}"></h1>
        <div>
            <ul>
                <li th:each="thread: ${threads}">
                    <a href="thread.html" th:href="@{~/thread(id=${thread.threadId})}">
                        <p th:text="${thread.name}"></p></a>
                </li>
            </ul>
        </div>
    </body>
</html>
