<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="${user.username}"></title>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
    </head>

    <body>
        <div class="container">
            <div class="page-header page-heading">
                <h1 class="pull-left"><span th:text="${user.username}"></span></h1>
                <ol class="breadcrumb pull-right where-am-i">
                    <!--<li><a th:href="@{~/subforum(id=${thread.forum.forumId})}">Threads</a></li>
                    <li class="active"><span th:text="${thread.name}"></span></li>-->
                </ol>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <span th:text="'Joined: ' + ${user.joinDate}"></span><br/>
                    <span th:text="'Posts: ' + ${user.postcount}"></span>
                </div>
                <div class="col-sm-9"></div>
            </div>
        </div>
    </body>
</html>